:root {
    --primary: #333333;
    --secondary: #B24344;
}


body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    text-align: center;
    /* max-width: 1920px; */
    margin: 0;

}

section {
    padding: 1em;
    margin-bottom: 2em;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: clamp(1rem, .5rem + 4vw, 5rem);
    margin-bottom: .15em;
}

h2 {
    font-size: clamp(1rem, .5rem + 2vw, 5rem);
    margin-bottom: 1em;
}

h3, p {
    font-size: clamp(.75rem, .5rem + 2vw, 5rem);
}

a {
    font-size: 1em;
}

p {
    margin: 0;
}

img {
    /* max-width: 100%;
    width: 24em; */
    width: clamp(16em, 60%, 100%);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

button {
    color: var(--secondary);
    background-color: #fff;
    border: .125em solid var(--secondary);
    width: clamp(8em, 30%, 50%);
    font-size: clamp(1em, .25em + 2vw, 4em);
}

button:hover {
    color: #fff;
    background-color: var(--secondary);
}

.topnav {
    overflow: hidden;
    background-color: var(--primary);
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.30));
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: var(--secondary);
    color: #fff;
  }
  
  .topnav a.active {
    background-color: var(--secondary);
    color: #fff;
  }
  
  .topnav .icon {
    display: none;
  }

.hero-text {
    text-align: left;
}

.hero-text h2 {
    font-size: clamp(.75rem, .5rem + 1.5vw, 5rem);
}

.hero img {
    max-width: 100%;
    width: auto;
}

.content, .about-fact, .about-fact div, .shop-content, .shop-content div, .product-fact div {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
}

.product-fact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    column-gap: 0.5em;
}

.product-fact img {
    width: clamp(9em, 30%, 100%);
}

.sm-ico {
    display: inline-block;
}

.sm-ico a {
    display: inline-block;
    margin: 15px;
}

.sm-ico a:hover {
    fill: var(--secondary);
}

.align-right {

}

.align-left {

}

@media (min-width: 40em) {
    h2, h3, p {
        text-align: left;
    }


    .content {
        align-items: start;
    }

    .about-fact, .shop-content {
        flex-direction: row;
    }

    .about-fact, .about-fact div, .shop-content, .product-fact, .product-fact div, .shop-content div {
        column-gap: 2em;
        align-items: start;
    }
    
    .shop-content div {
        row-gap: 4em;
    }

    section, footer {
        margin-bottom: 5em;
    }

    footer.content {
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-transform: uppercase;
    }

    .footer-links li {
        padding: 2px 0;
    }

    .vertical-divider {
        border: black 1px solid;
        width: 0.5px;
        height: 180px;
        margin: 0 10px;
        background: black;
    }

    .navigation {
        text-align: right;
    }

    .legal {
        text-align: left;
    }

    #sm-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    svg {
        width: 2em;
        height: 2em;
    }
}

@media (min-width: 60em) {
    a {
        font-size: clamp(1rem, .5rem + 2vw, 5rem);
    }

    .about-fact, .shop-content, .product-fact, .product-fact div, .shop-content div, .footer-links {
        column-gap: 4em;
    }

    section, footer {
        margin-bottom: 20em;
    }
}