:root {
    --primary: #333333;
    --secondary: #B24344;
}

/* media querries and screen sizes */

/* 
600px phones
768px tablets
992px laptops
1200px large desktops



width: fit-content;
*/


body {
    margin: 0;
    overflow: hidden;
    color: var(--primary);
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p, button, a, span, li {
    font-family: 'Lato', sans-serif;
}


.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* nav {
    display: flex;
    height: 40px;
    background-color: var(--primary);
    color: #fff;
}

nav ul {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
} */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.hero-text {
    margin-bottom: 80%;
    filter: drop-shadow(2px 4px 6px #fff);
}

.background {
    transform: translateZ(-10px) scale(1);
    margin-right: 90%;
}

.foreground {
    transform: translateZ(-5px) scale(0.6);
    margin-bottom: -40%;
}

.background, 
.foreground {
    position: absolute;
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    z-index: -1;
}

.title {
    /* text-shadow: 0 0 5px black; */
    /* position: absolute;
    top: 180px; */
    font-size: 2rem;
}

.hero-p {
    /* position: relative; */
    /* top: -180px;
    left: -60px; */
    font-size: 1rem;
}

.content {
    font-size: 2rem;
    padding: 2rem;
    background-color: #fff;
}

.section-heading {
    font-size: 2rem;
    text-align: center;
}

.our-products {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.product-fact {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.product-fact img {
    width: 50%;
    height: 100%;
}

.product-fact div, .about-fact div {
    font-size: 0.75rem;
}

.about-fact div {
    text-align: center;
}

.about, .shop {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-fact img, .shop img {
    width: 100%;
    height: 100%;
}

.shop div {
    font-size: 0.75rem;
    text-align: center;
}

button {
    width: 8rem;
    height: 2.25rem;
    font-size: 1rem;
    font-weight: 600;
    border: solid 2px var(--secondary);
    color: var(--secondary);
    background-color: #fff;
}

button:hover {
    background-color: var(--secondary);
    color: #fff;
}

footer.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 60px;
    row-gap: 30px;
}


.footer-links {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 25px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 5px;
}

footer ul a {
    text-decoration: none;
    color: var(--primary);
}

footer ul a:hover {
    color: var(--secondary);
    text-decoration: underline;
    font-weight: 600;
}

.navigation {
    text-align: right;
}

.vertical-divider {
    width: 1px;
    background-color: #1E1E1E;
}

.sm-ico {
    display: inline-block;
    margin: 15px;
}

.sm-ico:hover {
    fill: var(--secondary);
}


/* navbar */

.topnav {
    overflow: hidden;
    background-color: var(--primary);
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.30));
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--secondary);
    color: #fff;
  }
  
  .topnav a.active {
    background-color: var(--secondary);
    color: #fff;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }