:root {
    --primary: #333333;
    --secondary: #B24344;
}


body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    text-align: center;
    margin: 0;
}

section {
    padding: 1em;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: clamp(1rem, .5rem + 4vw, 5rem);
    margin-bottom: .15em;
}

h2 {
    font-size: clamp(1rem, .5rem + 2vw, 5rem);
    margin-bottom: 1em;
}

h3, p {
    font-size: clamp(.75rem, .5rem + 2vw, 5rem);
}

a {
    font-size: 1em;
}

p {
    margin: 0;
}

img {
    width: clamp(16em, 60%, 100%);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

button {
    color: var(--secondary);
    background-color: #fff;
    border: .125em solid var(--secondary);
    width: clamp(8em, 30%, 50%);
    font-size: clamp(1em, .25em + 2vw, 4em);
}

button:hover {
    color: #fff;
    background-color: var(--secondary);
}

.topnav {
    overflow: hidden;
    background-color: var(--primary);
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.30));
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: var(--secondary);
    color: #fff;
  }
  
  .topnav a.active {
    background-color: var(--secondary);
    color: #fff;
  }
  
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: block;
    float: right;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background, 
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}


.hero-img, .footer-img {
    width: clamp(4em,30%,100%);
}

.hero-content {
    position: absolute;
    top: 100px;
    text-align: left;
}

.hero-content h2 {
    font-size: clamp(.75rem, .5rem + 1.5vw, 5rem);
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.about-fact, .about-fact div, .shop-content, .shop-content div, .product-fact div {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
}

.product-fact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    column-gap: 0.5em;
}

.product-fact img {
    width: clamp(9em, 30%, 100%);
}

.sm-ico {
    display: inline-block;
}

.sm-ico a {
    display: inline-block;
    margin: 15px;
}

.sm-ico a:hover {
    fill: var(--secondary);
}

footer.content {
    row-gap: 0;
}


@media (min-width: 40em) {
    h2, h3, p {
        text-align: left;
    }

    .nav-links {
        padding: 1em 2em 1em 0;
    }

    .content {
        align-items: start;
    }

    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 6em;
        padding-right: 2em;
    }

    .topnav a:first-child { 
        margin-right: auto;
    }

    .topnav a:not(:first-child) {
        display: block;
        align-self: center;
    }

    .topnav a.icon {
        display: none;
    }

    .shop-content, .product-fact {
        flex-direction: row;
    }

    .about-fact, .about-fact div, .shop-content, .product-fact, .product-fact div, .shop-content div {
        column-gap: 2em;
        align-items: start;
    }
    
    .shop-content div {
        row-gap: 4em;
    }

    footer.content {
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-transform: uppercase;
    }

    .footer-links li {
        padding: 2px 0;
    }

    .vertical-divider {
        border: black 1px solid;
        width: 0.5px;
        height: 180px;
        margin: 0 10px;
        background: black;
    }

    .navigation {
        text-align: right;
    }

    .legal {
        text-align: left;
    }

    #sm-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    svg {
        width: 2em;
        height: 2em;
    }
}

@media (min-width: 60em) {
    h3 {
        margin: 1em 0;
    }

    a {
        font-size: clamp(1rem, .5rem + 2vw, 5rem);
    }

    .content, .content-container {
        row-gap: 8em;
    }

    .about-fact, .shop-content, .product-fact, .product-fact div, .shop-content div, .footer-links {
        column-gap: 4em;
    }

    section, footer {
        margin-bottom: 10em;
    }
}


